# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [33]:
import pandas as pd

df = pd.read_csv('demo01.csv')

df.columns

df.dtypes

df.isna().sum()

df['mau'].value_counts(normalize=True)

mau
False    0.976577
True     0.023423
Name: proportion, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [36]:
meta = pd.DataFrame({'variavel': df.columns, 'tipo': df.dtypes})

qtd_categorias = []

for nome in df.columns:
    qtd = df[nome].nunique()
    qtd_categorias.append(qtd)

meta['qtd_categorias'] = qtd_categorias
meta

                                    variavel     tipo  qtd_categorias
sexo                                    sexo   object               2
posse_de_veiculo            posse_de_veiculo   object               2
posse_de_imovel              posse_de_imovel   object               2
qtd_filhos                        qtd_filhos    int64               8
tipo_renda                        tipo_renda   object               5
educacao                            educacao   object               5
estado_civil                    estado_civil   object               5
tipo_residencia              tipo_residencia   object               6
idade                                  idade  float64            5298
tempo_emprego                  tempo_emprego  float64            3005
possui_celular                possui_celular    int64               1
possui_fone_comercial  possui_fone_comercial    int64               2
possui_fone                      possui_fone    int64               2
possui_email                    possui_email    int64               2
qt_pessoas_residencia  qt_pessoas_residencia  float64               9
mau                                      mau     bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [39]:
df_dummies = pd.get_dummies(df, drop_first=True)

df_dummies.dtypes.value_counts()

bool       21
int64       5
float64     3
Name: count, dtype: int64

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [42]:
tabela_email = pd.crosstab(df['possui_email'], df['mau'], normalize='index')
tabela_veiculo = pd.crosstab(df['posse_de_veiculo'], df['mau'], normalize='index')

print("Email:\n", tabela_email)
print("\nVeículo:\n", tabela_veiculo)

# A variável possui_email parece mais poderosa que posse_de_veiculo para prever mau = 1.

Email:
 mau              False     True
possui_email
0             0.976269  0.023731
1             0.979730  0.020270

Veículo:
 mau                  False     True
posse_de_veiculo
N                 0.975732  0.024268
Y                 0.977905  0.022095

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [48]:
df_dummies.to_csv('base_para_modelo.csv', index=False)